{% load static %}
<html lang="en">
  <head>
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}" defer></script> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main_div">
        
        <div class="content">
            {% for film in all_films %}
                <div class="film">
                    <p>{{ film.name }}</p>
                    <p>{{ film.age }}</p>
                    <img src="{{ film.image.url }}" style="max-height: 400px;">
                    <hr>
                </div>
            {% endfor %}
        </div>
    
        <div class="content_filter">

        </div>
        
    </div>
    <div class="modal-window-parent">
        
        <div class="modal-window">
            <form method="post">
                {% csrf_token %}
                <div class="button-close">&Cross;</div>
                <h1>Будь ласка, дайте відгук нашому сервісу</h1>
                <p><input type="text" class="user_name" name="user_name" placeholder="Введіть ваше ім'я" required></p> 
                <p><textarea name="feedback" class="feedback" id="" cols="30" rows="10" placeholder="Введіть ваш відгук" required></textarea></p> 
                <button class="button-send">Надіслати</button>
            </form>
        </div>

    </div>
    <input type="url_get" hidden value="{% url 'catalog' %}">
  </body>
</html>
